body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin:0;
    background-color: #F8F9FA;
}

nav h1 {
    justify-self: start;
    font-size: 6rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}
nav a {
    align-self: center;
    margin-left: auto;
    font-size: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: underline;
    color:black !important;
}
nav {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}
body section {
    height: 100%;
}

.blob-1 {
    position: absolute;
    z-index: -1;
}

.blob-2 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 25%;
}

.blob-3 {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -100%;
}

.further-content {
    display: flex;
    overflow-x: hidden;
}

.hero {
    margin-top: 50%;
    display: flex;
}

.hero .spacer {
    width: 6%;
}

.hero-text {
    width: 88%;
}

.hero-text-heading {
    font-weight: 500;
    font-size: 9rem;
    line-height: 9rem;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-text-heading.present {
    margin-left: auto;
    width: max-content;
    margin-right: 5rem;
}


.hero p {
    font-size: 3rem;
}

.further-content-text-area {
    display: inline-block;
    height: max-content;
    width: 80vw;
}

.align-self-center {
    align-self: center;
}
.m-auto {
    margin: auto;
}

.font-medium {
    font-weight: 500;
}

.d-flex {
    display:flex;
}
.w-100 {
    width: 100%;
}

.about-me {
    position: absolute;
    bottom: -100%;
    width: 30%;
    padding-left: 1rem;
    font-size: 1.2rem;
}
.clickable {
    cursor: pointer;
}

.pb {
    padding-bottom: 1.8rem;
}

.f-col {
    flex-direction: column;
}
@keyframes slide {
    0%   {transform: translateX(100%);}
    100% {transform: translateX(-100%);}
  }

.sayings {
    position: relative;
    margin-top: 2rem;
    animation-name: slide;
    animation-duration: 24s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: max-content;
}
.sayings span {
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav h1 {
        font-size: 6rem;
    }
    nav a {
        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .hero {
        margin-top: 30%;
    }
    
    .hero .spacer {
        width: 15%;
    }
    
    .hero-text {
        width: 70%;
    }
    
    .hero-text-heading {
        font-size: 7.3rem;
        line-height: 7.3rem;
    }
    
    .hero-text-heading.present {
        margin-right: 3rem;
    }
    
    
    .hero p {
        font-size: 2rem;
    }
    
    .further-content-text-area {
        width: 80vw;
    }
    
    .about-me {
        position: absolute;
        bottom: -100%;
        width: 30%;
        padding-left: 1rem;
        font-size: 1.2rem;
    }
    
    .sayings {
        margin-top: 0.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    nav h1 {
        font-size: 4rem;
    }
    nav a {
        font-size: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .blob-3 {
        position: absolute;
        z-index: -1;
        left: -10%;
        bottom: -100%;
        overflow: hidden;
    }
    
    .about-me {
        position: absolute;
        bottom: -100%;
        width: 30%;
        padding-left: 1rem;
        font-size: 1rem;
    }
    
    .sayings {
        margin-top: 0rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    nav h1 {
        font-size: 2.8vw;
    }
    nav a {
        font-size: 1.5vw;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .hero {
        margin-top: 8%;
    }
    
    .hero .spacer {
        width: 10%;
    }
    
    .hero-text {
        width: 35%;
    }
    
    .hero-text-heading {
        font-size: 5vw;
        line-height: 5vw;
    }
    
    .hero-text-heading.present {
        margin-right: 5vw;
    }
    
    
    .hero p {
        font-size: 1.3vw;
    }
    
    .further-content-text-area {
        width: 60vw;
    }
    
    .about-me {
        position: absolute;
        bottom: -100%;
        width: 20%;
        padding-left: 1rem;
        font-size: 0.8vw;
    }
    .further-content-text-area p{
        font-size: 1vw;
    }
    
    .sayings {
        margin-top: 0.5rem;
    }
    .blob-1 {
        width: 40vw;
        height: 31vw;
    }

    .blob-2 {
        width: 35vw;
        height: 69.3vw;
    }

    .sayings span {
        font-size: 1.1vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .blob-3 {
        left: 0;
        width: 38vw;
        height: 30.1vw;
    }
}